.navbar-container{
    display: flex;
    background: #000000;
    justify-content: space-between;
    padding: 16px 18px;
}

.navbar-container ul{
    display: flex;
    list-style: none;
    gap: 12px;
    color: white;
    font-weight: 400;
    font-size: 16px;
}
.navbar-container button {
    width: 115px;
    height: 39px;
    padding: 10px;
    gap: 4px;
    border-radius: 10px;
    background: #FFFFFF;
    color: #000000;
    border: none;
}
.navbar-items{
    display: flex;
    gap: 12px;
    align-items: center;
}
.navbar-logo-holder{
    align-items: start;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.navbar-logo-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.space-between{
    justify-content: space-between !important;
}
.navbar-menu{
    display: none;
}


@media only screen and (max-device-width:768px) {
    .navbar-logo-content{
        display: none;
    }
    .navbar-container{
        flex-direction: column;
    }
    .navbar-menu{
        display: flex;
    }
    .navbar-logo-holder{
        justify-content: space-between;
    }
    .navbar-items{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navbar-items ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .active{
        /* display: flex; */
        max-height: 250px;
        transition: 600ms;
        opacity: 1;
        overflow: hidden;
    }
    .hidden{
        /* display: none; */
        /* overflow: hidden; */
        max-height: 0px;
        transition: 400ms;
        opacity: 0;
        overflow: hidden;
    }
}